* {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffffc1;
}

header {
    padding: 5px;
    background-color: rgb(31, 34, 53);
    align-items: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
}

h1 {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5px;
    width: 20%;
    padding: 15px;
    text-align: center;
    text-overflow: clip;
    background-color: rgb(8, 76, 222);
    font-size: 40px;
    border: 4px solid rgb(66, 7, 193);
    border-radius: 30px;
    overflow: hidden;
    display: inline;
}

#name {
    text-decoration: none;
    color: blanchedalmond;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.active {
    text-decoration: underline;
    color: rgb(223, 136, 136);
}

nav a {
    font-size: 25px;
    text-decoration: none;
    color: #cd0b6c;
    text-align: center;
    display: inline;
    justify-content: space-evenly;
    overflow-x: auto;
}

a:hover {
    color: red;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-style: dotted;
}

main{
    margin-top: 95.5px;
}

.marque {
    text-align: center;
    background-color: rgb(218, 186, 143);
    margin: 0px;
    color: #cd0b6c;
    font-size: 30px;
}

.left {
    width: 500px;
}

.heading {
    background-color: rgb(35, 37, 58);
    height: auto;
    color: white;
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.SocialMedia {
    margin: 15px 0px;
}

.SocialMedia i {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #800900;
    color: white;
}

.SocialMedia i:hover {
    background-color: white;
    color: rgb(35, 37, 58);
    border: 1px solid transparent;
}

h2 {
    font-size: 50px;
    margin: 10px 0px;
}

p {
    font-size: 18px;
    width: 200px;
    margin: 5px 0px;
}

abbr {
    text-decoration: none;
}

.Portfolio_Button {
    width: 150px;
    height: 50px;
    border: 1px solid white;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border-radius: 50px;
    font-weight: bold;
    margin: 5px 0px;
}

.Portfolio_Button:hover {
    background-color: red;
    border: 1px solid transparent;
}

.Youtube_button {
    width: 120px;
    height: 50px;
    border: none;
    font-size: 30px;
    color: white;
    background-color: red;
    border-radius: 50px;
    margin: 0px 20px;
}


.button {
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

.right {
    border: 3px solid #1980d4;
    border-radius: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: relative;
    height: auto;
    margin-top: auto;
    margin-bottom: 0%;
    padding: 10px;
    background-color: #333;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: rgb(171, 212, 7);
}

@media(max-width:1276px){
    main{
        margin-top: 141px;
    }
}

@media(min-width:870px){
    .right::before{
        content:"";
        position:absolute;
        width: 345px;
        height: 345px;
        border-radius: 300px;
        border:3px dotted #1980d4;
    }
}

@media(max-width:600px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        width: 70%;
        margin-bottom: 5px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    nav a{
        font-size: 20px;
    }

    main{
        margin-top: 122px;
    }

    footer a {
        font-size: 14px;
    }
}

@media(max-width:500px){
    .heading{
        display: flex;
        flex-direction: column-reverse;
    }

    .left{
        width: 100%;
    }

    .right::before{
        content:"";
        position:absolute;
        width: 345px;
        height: 345px;
        border-radius: 300px;
        border:3px dotted #1980d4;
    }
}

@media(max-width:400px){
    h1{
        font-size: 30px;
        padding: 10px;
    }  
    main{
        margin-top: 100px;
    }

    nav a{
            font-size: 18px;
    }
}
@media(max-width:277px){
    h1{
        font-size: 25px;
        padding: 7px; 
    }
    nav a{
        font-size: 16px;
    }
    main{
        margin-top: 88px;
    }
}